<div class="form-row mt-2 mb-2 ">
    <div class="col-4">
        <mat-form-field appearance="" style="margin-left: 15px;">
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="aplicarFiltro( $event )" name="filtroRetiro" [(ngModel)]="filtro" placeholder="digite algo..." #input>
            <button mat-button *ngIf=" filtro !== '' " matSuffix mat-icon-button aria-label="Clear" (click)=" filtro = '' ">
          <mat-icon class="mdi mdi-close mdi-6px"></mat-icon>
        </button>
        </mat-form-field>
    </div>
    <div class="col-3" style="max-height: 50px; height: 50px;position: absolute;right: 10px;">
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)=" creando = true " data-target="#ModalCenteredCrear" style="margin-top: 10px;">Crear una Empresa o Cliente</button>
    </div>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dsCodigos" matSort>
        <!--   -->
        <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="empresa">Nombre o Razón Social</th>
            <td mat-cell *matCellDef="let row" style.color="red" class="empresa"> {{row.empresa}} </td>
        </ng-container>
        <ng-container matColumnDef="rut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="rut">RUT</th>
            <td mat-cell *matCellDef="let row" class="rut">{{row.rut}}</td>
        </ng-container>
        <ng-container matColumnDef="fantasia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="fantasia">Nombre de Fantasía</th>
            <td mat-cell *matCellDef="let row" class="fantasia"> {{row.fantasia}}</td>
        </ng-container>
        <ng-container matColumnDef="departamento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="departamento">Departamento</th>
            <td mat-cell *matCellDef="let row" class="departamento"> {{row.departamento }}</td>
        </ng-container>
        <ng-container matColumnDef="trato">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="trato">Trato o Convenio</th>
            <td mat-cell *matCellDef="let row" class="trato"> {{row.trato }} </td>
        </ng-container>
        <ng-container matColumnDef="nombreadmin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="nombreadmin">Administrador</th>
            <td mat-cell *matCellDef="let row" class="nombreadmin"> {{row.nombreadmin}} </td>
        </ng-container>
        <!-- cru -->
        <ng-container matColumnDef="cru">
            <th mat-header-cell *matHeaderCellDef class="acciones">Acciones</th>
            <td mat-cell *matCellDef="let row" class="acciones">
                <a class="has-arrow waves-effect text-dark" (click)="verEmpresa( row, false )" data-toggle="modal" data-target="#ModalCenteredCrear" style="margin-top:10px;">
                    <i class="mdi mdi-eye mdi-24px"></i>
                </a>&nbsp;&nbsp;
                <a *ngIf=" loginService.usuario.admin " class="has-arrow waves-effect text-dark" (click)="verEmpresa( row, true )" data-toggle="modal" data-target="#ModalCenteredCrear" style="margin-top:10px;">
                    <i class="mdi mdi-lead-pencil mdi-24px"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a *ngIf=" loginService.usuario.admin " (click)="eliminarEmpresa( row )" class="has-arrow waves-effect text-dark" style="margin-top:10px;">
                    <i class="mdi mdi-delete mdi-24px"></i>
                </a>&nbsp;&nbsp;
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dispColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: dispColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No existen datos que coincidan con el filtro "{{input.value}}"</td>
        </tr>

    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>

<!-- Modal crear/modificar -->
<div class="modal fade" id="ModalCenteredCrear" tabindex="-1" role="dialog" aria-labelledby="ModalCenteredCrearLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered x800" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="ModalCenteredCrearLabel">Mantención de Empresas / Clientes</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form #regCliForm="ngForm">
                    <div class="row">
                        <!--  -->
                        <div class="col-5" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Nombre o Razón Social Empresa</mat-label>
                                <input type="text" matInput name="empresa" [(ngModel)]="empresa" required>
                            </mat-form-field>
                        </div>
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>RUT</mat-label>
                                <input type="text" matInput name="rut" [(ngModel)]="rut" required>
                            </mat-form-field>
                        </div>
                        <div class="col-4" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Nombre de Fantasía</mat-label>
                                <input type="text" matInput name="fantasia" [(ngModel)]="fantasia" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Trato o Convenio</mat-label>
                                <select matNativeControl [(ngModel)]="trato" name="trato" required>
                              <option value="" selected></option>
                              <option *ngFor="let ts of tratos" [value]="ts.codigo">{{ ts.codigo }}</option>
                            </select>
                            </mat-form-field>
                        </div>
                        <div class="col-4" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Departamento</mat-label>
                                <input type="text" [value]="departamento" matInput name="departamento" [(ngModel)]="departamento">
                            </mat-form-field>
                        </div>
                        <div class="col-4" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Administrador o Encargado</mat-label>
                                <select matNativeControl [(ngModel)]="idadministra" name="estadokitemergencia">
                              <option value="" selected></option>
                              <option *ngFor="let ts of loginService.usuariosPorEmpresa" [value]="ts.id">{{ ts.nombre }}</option>
                            </select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <mat-progress-bar *ngIf=" grabando " mode="indeterminate"></mat-progress-bar>
                <div class="modal-footer" style="margin-top: 0px;">
                    <div class="example-label" style="margin-right: 50px;">Campos con asterisco o subrayado rojo son obligatorios</div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button *ngIf=" creando " type="button" class="btn btn-primary" [disabled]=" !regCliForm.valid " data-dismiss="modal" (click)="grabarVehiculo( regCliForm )">Grabar y actualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>