table {
    width: 100%;
}

select option {
    display: block;
    text-overflow: ellipsis;
    max-height: 400px;
}

mat-header-cell,
th {
    font-weight: bold;
    background-color: rgb(168, 158, 158);
}

mat-cell {
    font-weight: black;
}

.header-fix-container {
    height: 590px;
    overflow: auto;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
}

.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

.mat-form-field {
    font-size: 14px;
    width: 30%;
}

.descripcion {
    flex: none;
    max-width: 300px !important;
    width: 300px !important;
    text-align: left;
    font-weight: bold;
}

.valor {
    flex: none;
    max-width: 120px !important;
    width: 120px !important;
    text-align: left;
    font-weight: bold;
}

.tipodeservicio {
    flex: none;
    max-width: 300px !important;
    width: 300px !important;
    text-align: left;
    font-weight: bold;
}

.conductor {
    flex: none;
    max-width: 280px !important;
    width: 280px !important;
    text-align: left;
}

.marca {
    flex: none;
    max-width: 120px !important;
    width: 120px !important;
    text-align: left;
}

.modelo {
    flex: none;
    max-width: 120px !important;
    width: 120px !important;
    text-align: left;
}

.anno {
    flex: none;
    max-width: 60px !important;
    width: 60px !important;
    padding-left: 3px !important;
    text-align: left;
}

.patente {
    flex: none;
    max-width: 80px !important;
    width: 80px !important;
    text-align: left;
}

.jornada {
    flex: none;
    max-width: 280px !important;
    width: 280px !important;
    text-align: left;
    font-weight: bold;
}

.inicial .final {
    flex: none;
    max-width: 180px !important;
    width: 180px !important;
    text-align: left;
    font-weight: bold;
}

.orden {
    flex: none;
    max-width: 200px !important;
    width: 200px !important;
    text-align: left;
    font-weight: bold;
}

.codigo {
    flex: none;
    max-width: 300px !important;
    width: 300px !important;
    text-align: left;
    font-weight: bold;
}

.ldescripcion {
    /* flex: none; */
    /* max-width: 400px !important;
    width: 400px !important; */
    text-align: left;
    /* font-weight: bold; */
}

.licencia {
    flex: none;
    max-width: 140px !important;
    width: 140px !important;
    text-align: left;
    font-weight: bold;
}

.acciones {
    margin-right: 15px;
    flex: none;
    max-width: 150px !important;
    width: 150px !important;
    text-align: center;
}

.x800 {
    width: 800px !important;
}

.modal-content {
    width: 800px !important;
    max-width: 800px !important;
    height: 510px !important;
    max-height: 510px !important;
}

select option {
    display: block;
    text-overflow: ellipsis;
    max-height: 200px;
}


/* modal backdrop fix */

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

.example-full-width {
    width: 100%;
}