.fuente75 {
    font-size: 90%;
    font-weight: normal;
}

p {
    margin-bottom: 5px;
}

table {
    width: 100%;
}

.sinBorde {
    border: 0;
    border-bottom: 0px solid #000;
    height: 24px;
    padding-top: 18px;
}

.modal-body-scroll {
    height: 500px;
    width: 100%;
    overflow-y: auto;
}

select option {
    display: block;
    text-overflow: ellipsis;
    max-height: 400px;
}

mat-header-cell {
    font-weight: bold;
    background-color: #03a9f438;
}

mat-cell {
    font-weight: black;
}

th.mat-sort-header-sorted {
    color: black;
}

.fix-container {
    height: 600px;
    overflow-x: auto;
}

.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 30%;
}

.sinBorde {
    border: 0;
    border-bottom: 0px solid #000;
    height: 24px;
    padding-top: 18px;
}

th {
    background-color: rgb(168, 158, 158);
}

.acciones {
    margin-right: 15px;
    flex: none;
    max-width: 150px !important;
    width: 150px !important;
    text-align: center;
}

.x800 {
    width: 800px !important;
}


/* este determina el ancho del dialogo */

.modal-content {
    width: 800px !important;
    max-width: 800px !important;
    height: 580px !important;
    max-height: 580px !important;
}

.modal-dialog {
    width: 1200px;
    max-width: 1200px;
}

.modal-body {
    height: 530px;
    width: 100%;
    overflow-y: auto;
}

select option {
    display: block;
    text-overflow: ellipsis;
    max-height: 200px;
}

th.mat-sort-header-sorted {
    color: black;
}

.fix-container {
    height: 600px;
    overflow-x: auto;
}

.telefonos {
    flex: none;
    max-width: 150px !important;
    width: 150px !important;
    text-align: center;
}

.nombre {
    flex: none;
    max-width: 3000px !important;
    width: 300px !important;
    /* padding-left: 3px !important; */
    text-align: left;
}

.direccion {
    flex: none;
    max-width: 420px !important;
    width: 420px !important;
    padding-left: 3px !important;
    text-align: left;
}

.email {
    flex: none;
    max-width: 230px !important;
    width: 230px !important;
    text-align: left;
}

.patente {
    /* font-weight: bold; */
    flex: none;
    max-width: 150px !important;
    width: 150px !important;
    text-align: left;
}

.tipodeservicio {
    font-weight: bold;
    flex: none;
    max-width: 150px !important;
    width: 150px !important;
    text-align: left;
}

.vehiculo {
    font-weight: bold;
    flex: none;
    max-width: 200px !important;
    width: 200px !important;
    text-align: left;
}


/* modal backdrop fix */

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

.example-full-width {
    width: 100%;
}