<div class="form-row mt-2 mb-2 ">
    <div class="col-4">
        <mat-form-field appearance="" style="margin-left: 15px;">
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="aplicarFiltro( $event )" name="filtroRetiro" [(ngModel)]="filtro" placeholder="digite algo..." #input>
            <button mat-button *ngIf=" filtro !== '' " matSuffix mat-icon-button aria-label="Clear" (click)=" filtro = '' ">
            <mat-icon class="mdi mdi-close mdi-6px"></mat-icon>
          </button>
        </mat-form-field>
    </div>
    <div class="col-3" style="max-height: 50px; height: 50px;position: absolute;right: 10px;">
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)=" creando = true " data-target="#ModalCenteredCrear" style="margin-top: 10px;">Crear un Vehículo</button>
    </div>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dsCodigos" matSort>
        <!--   -->
        <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="marca">Marca</th>
            <td mat-cell *matCellDef="let row" style.color="red" class="marca"> {{row.marca}} </td>
        </ng-container>
        <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="modelo">Modelo</th>
            <td mat-cell *matCellDef="let row" class="nombre">{{row.modelo}}</td>
        </ng-container>
        <ng-container matColumnDef="anno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="anno">Año</th>
            <td mat-cell *matCellDef="let row" class="anno"> {{row.anno}} </td>
        </ng-container>
        <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="empresa">Empresa / Nombre Fantasía</th>
            <td mat-cell *matCellDef="let row" class="empresa"> {{row.empresa }} / {{ row.fantasia }}</td>
        </ng-container>
        <ng-container matColumnDef="tipodeservicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="tipodeservicio">Tipo de Servicio</th>
            <td mat-cell *matCellDef="let row" class="tipodeservicio"> {{row.tipodeservicio }}</td>
        </ng-container>
        <ng-container matColumnDef="patente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="patente">Patente</th>
            <td mat-cell *matCellDef="let row" class="patente"> {{row.patente}} </td>
        </ng-container>
        <ng-container matColumnDef="soap">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="soap">Vencimiento<br>SOAP</th>
            <td mat-cell *matCellDef="let row" class="soap"> {{row.fechavencsoap | date:"dd/MM/yyyy" }} </td>
        </ng-container>
        <ng-container matColumnDef="circulacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="circulacion">Venc.Permiso<br>Circulación</th>
            <td mat-cell *matCellDef="let row" class="circulacion">{{ row.fechavenccirculacion | date:"dd/MM/yyyy" }}</td>
        </ng-container>
        <ng-container matColumnDef="taximetro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="taximetro">Vencimiento<br>Taxímetro</th>
            <td mat-cell *matCellDef="let row" class="taximetro"> {{ row.fechavenctaximetro | date:"dd/MM/yyyy" }} </td>
        </ng-container>
        <ng-container matColumnDef="serviciotecnico">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="serviciotecnico">Venc.Revisión<br>Técnica</th>
            <td mat-cell *matCellDef="let row" class="serviciotecnico"> {{row.fechavencrevtecnica | date:"dd/MM/yyyy" }} </td>
        </ng-container>
        <!-- cru -->
        <ng-container matColumnDef="cru">
            <th mat-header-cell *matHeaderCellDef class="acciones">Acciones</th>
            <td mat-cell *matCellDef="let row" class="acciones">
                <a class="has-arrow waves-effect text-dark" (click)="verVehiculo( row, false )" data-toggle="modal" data-target="#ModalCenteredCrear" style="margin-top:10px;">
                    <i class="mdi mdi-eye mdi-24px"></i>
                </a>&nbsp;&nbsp;
                <a *ngIf=" loginService.usuario.admin " class="has-arrow waves-effect text-dark" (click)="verVehiculo( row, true )" data-toggle="modal" data-target="#ModalCenteredCrear" style="margin-top:10px;">
                    <i class="mdi mdi-lead-pencil mdi-24px"></i>
                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a *ngIf=" loginService.usuario.admin " (click)="eliminarVehiculo( row )" class="has-arrow waves-effect text-dark" style="margin-top:10px;">
                    <i class="mdi mdi-delete mdi-24px"></i>
                </a>&nbsp;&nbsp;
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dispColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: dispColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No existen datos que coincidan con el filtro "{{input.value}}"</td>
        </tr>

    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>

<!-- Modal crear/modificar cliente -->
<div class="modal fade" id="ModalCenteredCrear" tabindex="-1" role="dialog" aria-labelledby="ModalCenteredCrearLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered x800" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="ModalCenteredCrearLabel">Mantención de Vehículos</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form #regCliForm="ngForm">
                    <div class="row">
                        <!--  -->
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Marca</mat-label>
                                <input type="text" matInput name="marca" [(ngModel)]="marca" required minlength="2">
                            </mat-form-field>
                        </div>
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Modelo</mat-label>
                                <input type="text" matInput name="modelo" [(ngModel)]="modelo" required minlength="2">
                            </mat-form-field>
                        </div>
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Año</mat-label>
                                <input type="text" matInput name="anno" [(ngModel)]="anno" required minlength="2">
                            </mat-form-field>
                        </div>
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Patente</mat-label>
                                <input type="text" matInput name="patente" [(ngModel)]="patente" required minlength="2">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Vencimiento SOAP</mat-label>
                                <input type="date" [value]="fechavencsoap" matInput name="fechavencsoap" [(ngModel)]="fechavencsoap">
                            </mat-form-field>
                        </div>
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Venc.Permiso de Circulación</mat-label>
                                <input type="date" [value]="fechavenccirculacion" matInput name="fechavenccirculacion" [(ngModel)]="fechavenccirculacion">
                            </mat-form-field>
                        </div>
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Vencimiento Taxímetro</mat-label>
                                <input type="date" [value]="fechavenctaximetro" matInput name="fechavenctaximetro" [(ngModel)]="fechavenctaximetro">
                            </mat-form-field>
                        </div>
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Venc.Revisión Técnica</mat-label>
                                <input type="date" [value]="fechavencrevtecnica" matInput name="fechavencrevtecnica" [(ngModel)]="fechavencrevtecnica">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>ID TAG A bordo</mat-label>
                                <input type="text" matInput name="idtagabordo" [(ngModel)]="idtagabordo">
                            </mat-form-field>
                        </div>
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>ID TransBank A bordo</mat-label>
                                <input type="text" matInput name="idtransbankabordo" [(ngModel)]="idtransbankabordo">
                            </mat-form-field>
                        </div>
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>IMEI WiFi A bordo</mat-label>
                                <input type="text" matInput name="imeiwifiabordo" [(ngModel)]="imeiwifiabordo" required>
                            </mat-form-field>
                        </div>
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>IMEI Teléfono A bordo</mat-label>
                                <input type="text" matInput name="imeitelefonoabordo" [(ngModel)]="imeitelefonoabordo">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Kit Emergencia</mat-label>
                                <select matNativeControl [(ngModel)]="estadokitemergencia" name="estadokitemergencia" required>
                                  <option value="" selected></option>
                                  <option *ngFor="let ts of estados" [value]="ts.estado">{{ ts.estado }}</option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="col-2" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Kit Neumático</mat-label>
                                <select matNativeControl [(ngModel)]="estadokitneumatico" name="estadokitneumatico" required>
                                  <option value="" selected></option>
                                  <option *ngFor="let ts of estados" [value]="ts.estado">{{ ts.estado }}</option>
                                </select>
                            </mat-form-field>
                        </div>
                        <div class="col-3" style="margin-top: 10px;">
                            <mat-form-field class="example-full-width">
                                <mat-label>Tipo de Servicio</mat-label>
                                <select matNativeControl [(ngModel)]="idtiposervicio" name="idtiposervicio" required>
                                <option value="" selected></option>
                                <option *ngFor="let ts of loginService.tipoDeServicio" [value]="ts.id">{{ ts.tipodeservicio }}</option>
                              </select>
                            </mat-form-field>
                        </div>
                        <div class="col-5" style="margin-top: 10px;">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Empresa</mat-label>
                                <select matNativeControl [(ngModel)]="idasignacionempresa" name="idasignacionempresa" required>
                                <option value="" selected></option>
                                <option *ngFor="let est of loginService.empresasPermitidas" [value]="est.id">{{ est.empresa }}</option>
                              </select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <mat-progress-bar *ngIf=" grabando " mode="indeterminate"></mat-progress-bar>
                <div class="modal-footer" style="margin-top: 0px;">
                    <div class="example-label" style="margin-right: 50px;">Campos con asterisco o subrayado rojo son obligatorios</div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button *ngIf=" creando " type="button" class="btn btn-primary" [disabled]=" !regCliForm.valid " data-dismiss="modal" (click)="grabarVehiculo( regCliForm )">Grabar y actualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>
