table {
    width: 100%;
}

select option {
    display: block;
    text-overflow: ellipsis;
    max-height: 400px;
}

mat-header-cell {
    font-weight: bold;
    background-color: #03a9f438;
}

mat-cell {
    font-weight: black;
}

th.mat-sort-header-sorted {
    color: black;
}

th {
    background-color: rgb(168, 158, 158);
}

.fix-container {
    height: 720px;
    overflow-x: auto;
}

.example-h2 {
    margin: 10px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}

.mat-form-field {
    font-size: 14px;
    width: 30%;
}

.acciones {
    margin-right: 15px;
    flex: none;
    max-width: 150px !important;
    width: 150px !important;
    text-align: center;
}

.x800 {
    width: 800px !important;
}


/* este determina el ancho del dialogo */

.modal-content {
    width: 800px !important;
    max-width: 800px !important;
    height: 550px !important;
    max-height: 550px !important;
}

.modal-dialog {
    width: 900px;
    max-width: 900px;
}

.modal-body {
    height: 530px;
    width: 100%;
    overflow-y: auto;
}

select option {
    display: block;
    text-overflow: ellipsis;
    max-height: 200px;
}

.marca {
    flex: none;
    max-width: 120px !important;
    width: 120px !important;
    text-align: left;
    font-weight: bold;
}

.modelo {
    flex: none;
    max-width: 120px !important;
    width: 120px !important;
    text-align: left;
    font-weight: bold;
}

.anno {
    flex: none;
    max-width: 60px !important;
    width: 60px !important;
    padding-left: 3px !important;
    text-align: left;
}

.patente {
    flex: none;
    max-width: 80px !important;
    width: 80px !important;
    text-align: left;
    font-weight: bold;
}

.empresa {
    flex: none;
    max-width: 270px !important;
    width: 270px !important;
    text-align: left;
    font-weight: bold;
}

.tiposervicio {
    flex: none;
    max-width: 150px !important;
    width: 150px !important;
    text-align: left;
}

.soap {
    flex: none;
    max-width: 120px !important;
    width: 120px !important;
    text-align: center;
}

.circulacion {
    flex: none;
    max-width: 120px !important;
    width: 120px !important;
    text-align: center;
}

.taximetro {
    flex: none;
    max-width: 120px !important;
    width: 120px !important;
    text-align: center;
}

.serviciotecnico {
    flex: none;
    max-width: 120px !important;
    width: 120px !important;
    text-align: center;
}

.tipodeservicio {
    font-weight: bold;
    flex: none;
    max-width: 150px !important;
    width: 150px !important;
    text-align: left;
}

.conductor {
    flex: none;
    max-width: 200px !important;
    width: 200px !important;
    text-align: left;
}

.motivo {
    flex: none;
    max-width: 320px !important;
    width: 320px !important;
    text-align: left;
    padding-right: 10px;
}

.fechas {
    flex: none;
    max-width: 120px !important;
    width: 120px !important;
    text-align: left;
    font-weight: bold;
}

.licencia {
    flex: none;
    max-width: 120px !important;
    width: 120px !important;
    text-align: left;
}


/* modal backdrop fix */

.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

.example-full-width {
    width: 100%;
}

.refresco {
    margin-top: 10px;
    border: none;
    mat-icon {}
}